@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    width: 375px;
    font-size: 18px;
    text-align: center;
}

.nav {
    background-color: #FFFFFF;
    height: 64px;
    display: inline-block;
}

.container {
    margin-top: 10px;
    padding-top: 15px;
}

#logo {
    width: 130px;
    height: 20px;
    margin-left: 0px;
    margin-right: 130px;
}

.first {
    background-color: #FAFAFA;
    height: 670px;
}

#bg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;  
}

#mockups {
    width: 25%;
    height: 270px;
    position: absolute;
    top: 72px;
    left: 25px;
}

#nextGen {
    font-size: 40px;
    width: 327px;
    height: 94px;
    margin-left: 22px;
    margin-top: 20px;
}

#p1 {
    width: 320px;
    height: 75px;
    margin-left: 25px;
    font-size: 15px;
}

.second {
    background-color: #F4F5F7;
    height: 1305px;
    display: inline-block;
    width: 375px;
}

#h23 {
    width: 327px;
    height: 74px;
    font-size: 32px;
    margin-left: 22px;
    margin-top: 64px;
}

#p2 {
    width: 327px;
    height: 75px;
    font-size: 15px;
    margin-left: 25px;
}

.pros p {
    width: 327px;
    height: 75px;
    font-size: 15px;
}

.pros h3 {
    margin-top: 20px;
    width: 160px;
    height: 28px;
    font-size: 20px;
    margin-left: 80px;
}

.box1 {
    width: 327px;
    height: 215px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 30px;
}

.third {
    background-color: #FAFAFA;
    display: inline-block;
    height: 1920px;
    width: 375px;
}

.article {
    background-color: #FFFFFF;
    width: 327px;
    height: 395px;
    display: inline-block;
    margin-top: 20px;
    text-align: left;
}

.article img {
    width: 327px;
    height: 200px;
}

#author {
    font-size: 10px;
}

.news h4 {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 30px;
}

.news p {
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
}

.news a {
    color: #2D314D;
}

.footer {
    background-color: #2D314D;
    height: 510px;
    color: #FFFFFF;
}

.footer a{
    color: #FFFFFF;
}

.contacts {
    margin-left: 10px;
    margin-top: 50px;
    display: inline-block;
}

#whiteLogo {
    margin-bottom: 10px;
}

.socialMedia {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon {
    margin-right: 5px;
}

.bottomLinks {
    margin-top: 10px;
}

.lastBtn {
    margin-top: 50px;
    margin-bottom: 20px;
}

.header {
    color: #2D314D; 
}

.text {
    color: #9597A5;
}

#btn {
    color: #FFFFFF;
    background: linear-gradient(to right, #33D35E, #2AB6D9);
    border-radius: 20px;
    width: 163px;
    height: 44px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

#btn:hover {
    background: linear-gradient(to right, rgba(51, 211, 94, 0.5), rgba(42, 182, 217, 0.5));
}

a {
    text-decoration: none;
}

a:hover {
    color: #30C88F;
}

.icon:hover {
    background-color: #30C88F;
}