@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    width: 1440px;
    font-size: 18px;
}

.nav {
    background-color: #FFFFFF;
    height: 80px;
}

.container {
    margin-top: 10px;
    padding-top: 15px;
}

#logo {
    margin-left: 140px;
    margin-right: 160px;
}
 
.navMenu {
    color: #9597A5;
    font-weight: 400;
    margin-left: 30px;
}

/* not working
.navMenu:hover {
    border-bottom: linear-gradient(to right, #33D35E, #2AB6D9);
}
*/

.navBtn {
    margin-left: 180px;
}

.nav a:hover {
    color: #2D314D;
}

.first {
    background-color: #FAFAFA;
    display: flex;
    height: 676px;
    position: relative;
}

.cont1 {
    flex: 1;
}

#nextGen {
    font-size: 50px;
    width: 401px;
    height: 128px;
    margin-left: 130px;
    margin-top: 205px;
}

#p1 {
    width: 447px;
    height: 84px;
    margin-left: 130px;
}

.sndbtn {
    margin-left: 130px;
}

#bg {
    width: 150%;
    height: 680px;
    right: 140px;
    object-fit: cover;  
    position: relative;  
}

#mockups {
    width: 55%;
    height: 840px;
    position: absolute;
    top: 0px;
}

.second {
    background-color: #F4F5F7;
    height: 776px;
    display: inline-block;
    width: 1440px;
}

#h23 {
    width: 416px;
    height: 64px;
    font-size: 35px;
    margin-left: 130px;
    margin-top: 96px;
}

#p2 {
    width: 635px;
    height: 56px;
    margin-left: 130px;
}

.pros p {
    width: 255px;
    height: 112px;
    font-size: 16px;
}

.pros h3 {
    margin-top: 40px;
}

#firstElement {
    margin-left: 130px;
}

.box1 {
    width: 255px;
    height: 278px;
    display: inline-block;
    margin-top: 100px;
    margin-right: 40px;
}

.third {
    background-color: #FAFAFA;
    display: inline-block;
    height: 676px;
    width: 1440px;
}

.article {
    background-color: #FFFFFF;
    width: 255px;
    height: 395px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 40px;
}

.article img {
    width: 255px;
    height: 200px;
}

#author {
    font-size: 11px;
}

.news h4 {
    font-size: 16px;
    margin-left: 15px;
    margin-right: 30px;
}

.news p {
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
}

.footer {
    background-color: #2D314D;
    height: 191px;
    color: #FFFFFF;
}

.footer a{
    color: #FFFFFF;
}

.contacts {
    margin-left: 130px;
    margin-top: 50px;
    display: inline-block;
}

.line1 a {
    margin-left: 160px;
}

.line1 button {
    margin-left: 375px;
}

.line2 {
    margin-left: 303px;
}

.support {
    margin-left: 170px;
}

.line3 {
    margin-top: 10px;
}

.icon {
    margin-right: 5px;
}

.blog {
    margin-left: 154px;
}

.privacy {
    margin-left: 196px;
    margin-right: 230px;
}

.header {
    color: #2D314D; 
}

.text {
    color: #9597A5;
}

#btn {
    color: #FFFFFF;
    background: linear-gradient(to right, #33D35E, #2AB6D9);
    border-radius: 20px;
    width: 163px;
    height: 44px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

#btn:hover {
    background: linear-gradient(to right, rgba(51, 211, 94, 0.5), rgba(42, 182, 217, 0.5));
}

a {
    text-decoration: none;
}

a:hover {
    color: #30C88F;
}
