@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    width: 1440px;
    font-size: 18px;
}

.nav {
    background-color: #FFFFFF;
    height: 80px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0%;
}

/*
.nav img {
    padding-bottom: 0;
}

.nav #btn {
    margin-right: 0;
}
*/

.container {
    margin-top: 10px;
    padding-top: 25px;
}

#test {
    color: red;
    margin-left: 100px;
    margin-right: 20px;
    margin: 60px;
    padding-top: 500%;
}

.nav a:hover {
    color: #2D314D;
}

.first {
    background-color: #FAFAFA;
}

.second {
    background-color: #F4F5F7;
}

.third {
    background-color: #FAFAFA;
}

.article {
    background-color: #FFFFFF;
    width: 255px;
    height: 595px;
}

.article img {
    width: 255px;
    height: 200px;
}

.footer {
    background-color: #2D314D;
    height: 191px;
    color: #FFFFFF;
}

.footer a{
    color: #FFFFFF;
}


.header {
    color: #2D314D; 
}

.text {
    color: #9597A5;
}

#btn {
    color: #FFFFFF;
    background: linear-gradient(to right, #33D35E, #2AB6D9);
    border-radius: 20px;
    width: 163px;
    height: 44px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

#btn:hover {
    background: linear-gradient(to right, rgba(51, 211, 94, 0.5), rgba(42, 182, 217, 0.5));
}

a {
    text-decoration: none;
}

a:hover {
    color: #30C88F;
}
